@import url("./reset.css");
@import url("./stylegeneral.css");

body{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
                                        /*HEADER*/
header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background-color: rgb(226, 225, 225);
    padding: 0 50px;
    z-index: 2;
}

header #carrito{
    font-size: 40px;
    cursor: pointer;
    color: var(--color-rojo);
}

h1{
    font-size: 80px;
    font-family: 'Carter One', cursive;
}

h1 span{
    color: var(--color-rojo);
    margin-bottom: 30px;
}

.icono_carrito{
    position: relative;
}

.icono_carrito .contador_productos span{
    position: absolute;
    top: -15px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    font-weight: bolder;
}


                                    /*CONTENIDO*/
.productos{
    margin:40px 40px; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px
}

.productos h2{
    width: 140px;
    font-size: 30px;
    border-bottom: 4px solid var(--color-rojo);
    margin-right: 80px;
}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
}

.producto .oferta{
    position: absolute;
    left: -30px;
    top: -20px;
}

.producto .imagen_producto{
    position: relative;
}

.producto .texto{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
}

.producto .modelo{
    font-size: 20px;
    font-weight: bolder;
}

.producto .precio_producto{
    display: flex;
    align-items: center
}

.producto .precio_sinoferta{
    text-decoration: line-through;
    color: var(--color-rojo);
}


.producto .precio_final{
    font-weight: bolder;
    font-size: 1.3em;
}



.producto button{
    background-color: var(--color-rojo);
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.producto button:hover{
    transform: scale(1.1);
}

.producto button:disabled{
    transform: scale(1);
    background-color: grey;
    cursor: unset;
}

.producto .moneda{
    margin-left: 5px;
    font-size: 25px;
}

.imagen_producto{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.unidades_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.unidades_producto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    color: white;
}

.precio_producto{
    display: flex;
    justify-content: center;
    gap:20px;
}


                                /*CARRITO*/


.carrito_pdf{
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    justify-content: space-around;
    border-bottom: 4px solid white;
}

.carrito_pdf i{
    font-size: 30px;
}

.carrito_pdf i{
    cursor: pointer;
}

.divcarrito h2{
    font-size: 30px;
    line-height: 60px;
    color: white;
}

.divcarrito{
    display: flex;
    flex-direction: column;
    height: 610px;
    overflow-y: auto;
    width:500px;
    background-color: var(--color-rojo);
    position: absolute;
    left: calc(100% - 500px);
    top:-100%;
    transition: all 0.3s ease-in-out;
    z-index:1;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 0px 0px 20px 20px;
}

.divcarrito .carrito_productos{
    width: 80%;
}

.divcarrito .contenido{
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.texto_carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.control_carrito_unidades{
    padding: 5px;
    display: flex;
    align-items: center;
    gap:20px;
    border: 1px solid #A9A9A9;
}

.control_carrito_unidades i{
    cursor: pointer;
    font-size: 20px;
}

.carrito_unidades{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(169, 169, 169);
}

.carrito_unidades span{
    width: 60%;
}

.carrito_unidades button{
    border: none;
    background-color:rgb(169, 169, 169);
    font-size: 15px;
    width: 40px;
    height: 25px;
}

.carrito_modelo{
    font-weight: bolder;
    border-bottom: 2px solid red;
}

.carrito_preciosuma{
    font-weight: bolder;
}

.carrito_preciounidad{
    font-size: 0.8em;
}

button{
    cursor: pointer;
}

.texto_factura_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 20px;
    gap: 10px;
    margin-top: 20px;
    border-top: 4px solid white;
    background-color:white;
    height:100px;
    border-radius: 20px;
}


.mostrar{
    top:100px;
}


        /*MEDIA QUERIES*/

@media(max-width:1050px){
    .productos{
        grid-template-columns: repeat(2, 1fr);  
    }

    header h1{
        font-size: 65px;
    }


 
}

@media(max-width:750px){

    header h1{
        font-size: 35px;
    }
    header{
        padding:40px;
    }

    header .contador_productos{
        width: 10px;
        height: 10px;
        font-size: 15px;
    }

    .productos{
        grid-template-columns: repeat(1, 1fr);
    }

    header #carrito{
        font-size: 30px;
    }

    .divcarrito{
        width: 375px;
        left: calc(100% - 370px);
    }

    .divcarrito img{
        width: 150px;
    }

    .imagen_producto img{
        width: 200px;
    }

    .imagen_producto .oferta{
        width: 100px;
    }
}
    


